<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link rel="stylesheet" href="public/css/boilerplate.css">
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="public/images/favicon.ico" type="image/x-icon"></link>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta charset="utf-8">
    <script src="//localhost:35729/livereload.js"></script>
  </head>

  <body>
    {{{ body }}}
  </body>
</html>
