  <a href="#menu" class="nav-link">
    <img src="public/images/navicon-png2x.png" width="20" alt="Menu toggle">
  </a>

  <nav>
    <ul>
      <li>Item 1</a>
      <li>Item 2</a>
      <li>Item 3</a>
    </ul>
  </nav>

  <div class="content">
  	<header>{{ title }}</header>
    <article>
      <q>
        {{{ content }}}
      </q>
      </author>
    </article>
  </div>
  <script data-main="public/js/boilerplate" src="public/js/lib/require.js"></script>
