<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="public/css/reset.css">
    <link rel="stylesheet" href="public/css/bmgmt.css">
    <script data-main="public/js/boilerplate" src="public/js/lib/require.js"></script>
    <title>{{ title }}</title>
    <link rel="shortcut icon" href="public/images/favicon.ico" type="image/x-icon"></link>
  </head>

  <body>
		<header>{{ title }}</header>
    <div id="container">
      <div id="container_inner">
        <article>
          <q style="font: 30px/36px '{{ font }}', Helvetica, Arial, sans-serif; font-style: italic">
            {{{ content }}}
          </q>
          <author>— {{ author }}, {{ location }}. <a href="{{ link}}">{{ item }}</a>, {{ vendor }}</author>
          <a href="https://twitter.com/share" class="twitter-share-button" data-via="mikemaccana">Tweet</a>
          <script>
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
          </script>
          <div id="tags">
            {{#tags}}
              <a class="tag" href="#">{{ .}}</a>
            {{/tags}}
          </tags>  
        </article>     
      </div> 
    </div>  
    
    
    
    <footer>
      <img id="bv" src="public/images/bv-small.png"/>
      <img id="pt" src="public/images/pt-small-cropped.png"/>
      <p id="legal">The Prince’s Trust is a registered charity number 1079675, incorporated by Royal Charter.</p>
    </footer>
  </body>
</html>

