@import "fonts.less";

/* Ensure padding is inside boxes. See http://paulirish.com/2012/box-sizing-border-box-ftw */
* { 
  box-sizing: border-box; 
}

body {
  font: 12px Helvetica, Arial, sans-serif;
  padding: 20px 100px;
  background: whiteSmoke;
}

h1 {
  font: 60px/68px 'ItaliannoRegular', Helvetica, Arial, sans-serif;
  letter-spacing: 0;
}
