@font-face {
    font-family: 'ItaliannoRegular';
    src: url('/public/fonts/Italianno-Regular-OTF-webfont.eot');
    src: url('/public/fonts/Italianno-Regular-OTF-webfont.eot?#iefix') format('embedded-opentype'),
         url('/public/fonts/Italianno-Regular-OTF-webfont.woff') format('woff'),
         url('/public/fonts/Italianno-Regular-OTF-webfont.ttf') format('truetype'),
         url('/public/fonts/Italianno-Regular-OTF-webfont.svg#ItaliannoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

